In [410]:
 # Dependencies
import pandas as pd 
import numpy as np

In [411]:
# Save file path to variable
file_to_load = "purchase_data.csv"

In [412]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [413]:
#Display total number of players 
unique_players= len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players": [unique_players]})
total_players

   Total Players
0            576

In [414]:
#Run basic calculations to obtain number of unique items, average price, etc.
unique_items = len(purchase_data["Item ID"].unique())

avg_price = purchase_data["Price"].mean()

num_purchases = purchase_data["Purchase ID"].count()

tot_revenue = purchase_data["Price"].sum()

In [415]:
#Create a summary data frame to hold the results
summary = pd.DataFrame({"Number of Unique items": [unique_items], "Average Price": [avg_price], 
               "Numer of Purchases": [num_purchases], "Total Revenue": [tot_revenue]})
summary["Average Price"] = summary["Average Price"].map("${:.2f}".format)
summary["Total Revenue"] = summary["Total Revenue"].map("${:.2f}".format)

In [416]:
#Display the summary data frame (Optional: give the displayed data cleaner formatting)
summary

   Number of Unique items Average Price  Numer of Purchases Total Revenue
0                     183         $3.05                 780      $2379.77

In [417]:
#Remove duplicate SN in OG dataframe 
no_duplicates = purchase_data.sort_values("SN")
no_duplicates.drop_duplicates(subset ="SN", keep = "first", inplace = True)

In [418]:
#Percentage and Count of Male Players
male_players = no_duplicates.loc[purchase_data["Gender"]== "Male"]
male_count = len(male_players)
male_per = (male_count / unique_players)*100

In [419]:
#Percentage and Count of Female Players
female_players = no_duplicates.loc[purchase_data["Gender"]== "Female"]
female_count = len(female_players)
female_per = (female_count / unique_players)*100

In [420]:
#Percentage and Count of Other / Non-Disclosed
other_players = no_duplicates.loc[purchase_data["Gender"]== "Other / Non-Disclosed"]
other_count = len(other_players)
other_per = (other_count / unique_players)*100

In [421]:
#Create and display the summary data frame (Optional: give the displayed data cleaner formatting)
gender_demographics = pd.DataFrame({"Total Count": [male_count, female_count, other_count], 
                                    "Percentage of Players": [male_per, female_per, other_per]})
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2f}".format)
gender_demographics

   Total Count Percentage of Players
0          484                 84.03
1           81                 14.06
2           11                  1.91

In [422]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

total_females = purchase_data.loc[purchase_data["Gender"]== "Female"]
total_females_count = total_females["Purchase ID"].count()
avg_female_purchase_price = total_females["Price"].mean()
female_sum = total_females["Price"].sum()
female_total = total_females["Price"].sum()
female_total_purchase = (female_total / female_count)

total_males = purchase_data.loc[purchase_data["Gender"]== "Male"]
total_males_count = total_males["Purchase ID"].count()
avg_male_purchase_price = total_males["Price"].mean()
male_sum = total_males["Price"].sum()
male_total = total_males["Price"].sum()
male_total_purchase = (male_total / male_count)

total_other = purchase_data.loc[purchase_data["Gender"]== "Other / Non-Disclosed"]
total_other_count = total_other["Purchase ID"].count()
avg_other_purchase_price = total_other["Price"].mean()
other_sum = total_other["Price"].sum()
other_total = total_other["Price"].sum()
other_total_purchase = (other_total / other_count)

purchase_gender = pd.DataFrame({"Purchase Count": [total_females_count, total_males_count, total_other_count], 
                                "Average Purchase Price": [avg_female_purchase_price, avg_male_purchase_price, avg_other_purchase_price],
                               "Total Purchase Value": [female_sum, male_sum, other_sum], 
                               "Avg Total Purchase by Person": [female_total_purchase, male_total_purchase, other_total_purchase]})
purchase_gender["Average Purchase Price"] = purchase_gender["Average Purchase Price"].map("${:.2f}".format)
purchase_gender["Total Purchase Value"] = purchase_gender["Total Purchase Value"].map("${:.2f}".format)
purchase_gender["Avg Total Purchase by Person"] = purchase_gender["Avg Total Purchase by Person"].map("${:.2f}".format)
purchase_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase by Person
0,113,$3.20,$361.94,$4.47
1,652,$3.02,$1967.64,$4.07
2,15,$3.35,$50.19,$4.56

In [423]:
no_duplicates["Age"].max()

45

In [424]:
#Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

no_duplicates["Age Group"] = pd.cut(no_duplicates["Age"], bins, labels=group_names)

no_duplicates.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28,15-19
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48,35-39
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91,15-19
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
630,630,Aelaria33,23,Male,171,Scalpel,1.79,20-24

In [425]:
#Create a summary data frame to hold the results

#bin_1
bin_1_players = no_duplicates.loc[no_duplicates["Age Group"]== "<10"]
bin_1_count = len(bin_1_players)
bin_1_per = (bin_1_count / unique_players)*100

#bin_2
bin_2_players = no_duplicates.loc[no_duplicates["Age Group"]== "10-14"]
bin_2_count = len(bin_2_players)
bin_2_per = (bin_2_count / unique_players)*100

#bin_3
bin_3_players = no_duplicates.loc[no_duplicates["Age Group"]== "15-19"]
bin_3_count = len(bin_3_players)
bin_3_per = (bin_3_count / unique_players)*100

#bin_4
bin_4_players = no_duplicates.loc[no_duplicates["Age Group"]== "20-24"]
bin_4_count = len(bin_4_players)
bin_4_per = (bin_4_count / unique_players)*100

#bin_5
bin_5_players = no_duplicates.loc[no_duplicates["Age Group"]== "25-29"]
bin_5_count = len(bin_5_players)
bin_5_per = (bin_5_count / unique_players)*100

#bin_6
bin_6_players = no_duplicates.loc[no_duplicates["Age Group"]== "30-34"]
bin_6_count = len(bin_6_players)
bin_6_per = (bin_6_count / unique_players)*100

#bin_7
bin_7_players = no_duplicates.loc[no_duplicates["Age Group"]== "35-39"]
bin_7_count = len(bin_7_players)
bin_7_per = (bin_7_count / unique_players)*100

#bin_8
bin_8_players = no_duplicates.loc[no_duplicates["Age Group"]== "40+"]
bin_8_count = len(bin_8_players)
bin_8_per = (bin_8_count / unique_players)*100

In [426]:
age_demographics = pd.DataFrame({"Total Count": [bin_1_count, bin_2_count, bin_3_count, bin_4_count, bin_5_count, 
                                                 bin_6_count, bin_7_count, bin_8_count], 
                                 "Percentage of Players": [bin_1_per, bin_2_per, bin_3_per, bin_4_per, bin_5_per, 
                                                          bin_6_per, bin_7_per, bin_8_per]})
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}".format)
age_demographics

   Total Count Percentage of Players
0           17                  2.95
1           22                  3.82
2          107                 18.58
3          258                 44.79
4           77                 13.37
5           52                  9.03
6           31                  5.38
7           12                  2.08

In [427]:
#Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

#bin_1
purchase_bin_1_players = purchase_data.loc[purchase_data["Age Group"]== "<10"]
purchase_bin_1_count = len(purchase_bin_1_players)
purchase_bin_1_per = (purchase_bin_1_count / unique_players)*100
purchase_bin_1_total = purchase_bin_1_players["Price"].mean()

#bin_2
purchase_bin_2_players = purchase_data.loc[purchase_data["Age Group"]== "10-14"]
purchase_bin_2_count = len(purchase_bin_2_players)
purchase_bin_2_per = (purchase_bin_2_count / unique_players)*100
purchase_bin_2_total = purchase_bin_2_players["Price"].mean()

#bin_3
purchase_bin_3_players = purchase_data.loc[purchase_data["Age Group"]== "15-19"]
purchase_bin_3_count = len(purchase_bin_3_players)
purchase_bin_3_per = (purchase_bin_3_count / unique_players)*100
purchase_bin_3_total = purchase_bin_3_players["Price"].mean()

#bin_4
purchase_bin_4_players = purchase_data.loc[purchase_data["Age Group"]== "20-24"]
purchase_bin_4_count = len(purchase_bin_4_players)
purchase_bin_4_per = (purchase_bin_4_count / unique_players)*100
purchase_bin_4_total = purchase_bin_4_players["Price"].mean()

#bin_5
purchase_bin_5_players = purchase_data.loc[purchase_data["Age Group"]== "25-29"]
purchase_bin_5_count = len(purchase_bin_5_players)
purchase_bin_5_per = (purchase_bin_5_count / unique_players)*100
purchase_bin_5_total = purchase_bin_5_players["Price"].mean()

#bin_6
purchase_bin_6_players = purchase_data.loc[purchase_data["Age Group"]== "30-34"]
purchase_bin_6_count = len(purchase_bin_6_players)
purchase_bin_6_per = (purchase_bin_6_count / unique_players)*100
purchase_bin_6_total= purchase_bin_6_players["Price"].mean()

#bin_7
purchase_bin_7_players = purchase_data.loc[purchase_data["Age Group"]== "35-39"]
purchase_bin_7_count = len(purchase_bin_7_players)
purchase_bin_7_per = (purchase_bin_7_count / unique_players)*100
purchase_bin_7_total = purchase_bin_7_players["Price"].mean()

#bin_8
purchase_bin_8_players = purchase_data.loc[purchase_data["Age Group"]== "40+"]
purchase_bin_8_count = len(purchase_bin_8_players)
purchase_bin_8_per = (purchase_bin_8_count / unique_players)*100
purchase_bin_8_total = purchase_bin_8_players["Price"].mean()

In [429]:
#Create a summary data frame to hold the results

purchase_with_bins_data = pd.DataFrame({ "Purchase Count": [purchase_bin_2_count, purchase_bin_3_count, purchase_bin_4_count, purchase_bin_5_count, purchase_bin_6_count, purchase_bin_7_count, purchase_bin_8_count, purchase_bin_1_count]
                                       "Average Purchase Price": [purchase_bin_1_total, purchase_bin_2_total, purchase_bin_3_total, purchase_bin_4_total, purchase_bin_5_total, purchase_bin_6_total, purchase_bin_7_total, purchase_bin_8_total]})

purchase_with_bins_data["Average Purchase Price"] = purchase_with_bins_data["Average Purchase Price"].map("${:.2f}".format)

purchase_with_bins_data

SyntaxError: invalid syntax (<ipython-input-429-3e8e08df5e9f>, line 4)